.sidebar {
  background: #fff;
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-left: 2%;
  padding-top: 80px;
}

.shortcut-links .active {
  color: #ed3933;
  font-weight: 600;
}

.side-link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  flex-wrap: nowrap;
  cursor: pointer;
}

.side-link.active img {
  padding-bottom: 2px;
  border-bottom: 3px solid red;
}

.shortcut-links img {
  width: 20px;
  margin-right: 20px;
}

.subscribed-list img {
  width: 25px;
  border-radius: 50%;
  margin-right: 20px;
}

.subscribed-list h3 {
  font-size: 13px;
  margin: 20px 0;
  color: #5a5a5a;
}

.small-slider hr {
  width: 50%;
  margin-bottom: 25px;
}

.small-slider {
  width: 5%;
}

.small-slider p,
.small-slider h3 {
  display: none;
}

@media (max-width: 900px) {
    .sidebar {
        display: none;
    }
}