@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

a {
  text-decoration: none;
  color: #5a5a5a;
}

img {
  cursor: pointer;
}

.flex-div {
  display: flex;
  align-items: center;
}

.container {
  background: #f9f9f9;
  padding: 20px 2% 20px 17%;
}
.large-container {
  padding-left: 7%;
}

@media(max-width:900px){
  .large-container {
    /* padding-left: 7%; */
    padding: 5%;
}
}
